.container {
    display: flex;
    gap: 100px;
}

.textContainer {
    flex: 2;
}

.imageContainer {
    flex: 1;
    position: relative;
    height: calc(100vh - 200px);
}

.author_details {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
}



.avatar {
    border-radius: 50%;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.description span:first-child {
    color: gray;
}

.timeline span:first-child {
    color: gray;
}

.timeline {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.textdesc {
    margin-top: 40px;
}


@media(max-width:768px){
    .imageContainer{
        display: none;
    }
}