.container {
    display: flex;
    gap: 100px;
}

.textContainer {
    flex: 2;
}

.imageContainer {
    flex: 1;
    position: relative;
    height: calc(100vh - 200px);
}



.textdesc {
    margin-top: 40px;
}


@media(max-width:768px){
    .imageContainer{
        display: none;
    }
}